/* Global */
:root{
    --white: #FAFAFA; 
    --black: #404040;
    --deep-black: #000000;
    --dark-gray: #8F8F8F;
    --light-gray: #EBEBEB;
    --yellow: #FFEC1A;
    --warning: #FF0A0A;
    --700: 2rem; 
    --600: 1.375rem; 
    --500: 1.125rem; 
    --400: 1rem;
    --300: 0.875rem; 
    --200: 0.75rem; 
    --100: 0.625rem; 
}

div[data-framer-component-type='Text'] span {
    font-size: var(--framer-font-size) !important;
    line-height: var(--framer-line-height) !important;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Euclid Circular A Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
    text-size-adjust: 100%;
    line-height: 1.4; 
    font-size: var(--400); 
    letter-spacing: 0.04em;
    word-spacing: -0.02em; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--white);
    color: var(--black);
}


p{
    margin-bottom: 16px; 
}
strong{
     font-Family: Euclid Circular A Semibold;
}
ul{
list-style: none;
}
#__next {
    height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

a{
    text-decoration: none;
}


/* Fonts */


@font-face {
    font-display: swap;
    font-family: Euclid Circular A Regular;
    font-weight: 400;
    src: url("/fonts/Euclid-CircularA/EuclidCircularA-Regular.woff")
            format("woff"),
        url("/fonts/Euclid-CircularA/EuclidCircularA-Regular.woff2")
            format("woff2");
}
@font-face {
    font-display: swap;
    font-family: Euclid Circular A Regular Italic;
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/Euclid-CircularA/EuclidCircularA-Regular.woff")
            format("woff"),
        url("/fonts/Euclid-CircularA/EuclidCircularA-Regular.woff2")
            format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Euclid Circular A Semibold;
    font-weight: 600;
    src: url("/fonts/Euclid-CircularA/EuclidCircularA-Semibold.woff")
            format("woff"),
        url("/fonts/Euclid-CircularA/EuclidCircularA-Semibold.woff2")
            format("woff2");
}
@font-face {
    font-display: swap;
    font-family: Euclid Circular A Semibold Italic;
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/Euclid-CircularA/EuclidCircularA-Semibold.woff")
            format("woff"),
        url("/fonts/Euclid-CircularA/EuclidCircularA-Semibold.woff2")
            format("woff2");
}


.container {
    /* padding-top: 48px; 
    padding-bottom: 80px;  */
    position: relative; 
    /* display: grid;
    place-items: center; */
    width: 100%;
    min-height: 100%;
    display: flex; 
    flex-direction: column; 

}


.navbarStyle{
    width: 100%; 
    position: fixed;
    z-index: 999;
    top: 0;
    
}
.tabbarStyle{
    width: 100%; 
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin-top: auto;
}